

#wrap{width: 100%; position: relative;overflow:hidden}

.inner{margin: 0 auto}

#header {
  z-index: 9999999;width: 100%;left:0;top:0px;height:85px;background: rgba(255, 255, 255, 0.658);
margin-bottom:150px;}
#header  .logo{width:200px;height:100px; position:relative;top:20px;left:2%}
#header  .logo img{width:100%; }

#header .inner .nav{ z-index: 9999999;
    display: flex; 
  text-align: center;flex-wrap: wrap; position:absolute;right:5%}

#header  .inner{display: flex;flex-wrap: wrap;
                position: relative;}
#header .nav > li{ position:relative;}
#header .nav > li > a{display:block;text-align:center;padding-top:30px;padding-bottom:30px;}
 /* #header .nav > li:hover > a{border-bottom:2px solid #fd8204}*/
 #header .nav > li a:hover{border-bottom:2px solid #fd8204}
#header .nav > li:hover ul{background-color: #ffffff;opacity: 1;}/*
#header .nav > li ul{border:2px solid #fd810425}*/
#header .nav > li ul > li{border-bottom:2px solid #fff}
#header .nav > li ul > li:last-child{border-bottom: none;}
#header .nav .small_ul> li{line-height:35px;width: 100%;background:#fbd85857;color: #444444;font-size: 0.8rem;}
#header .nav .small_ul> li a{width: 100%;}
#header .nav .small_ul> li:hover{background: #fd8204;color:#fff}

.fif_li > a:nth-child(1){font-weight: 700;color:#fd8204}
.fif_li  .small_ul .story{font-weight: 700;}
.fif_li .small_ul{font-weight: 400;}

 #header .nav ul{padding: 0px 0px; 
    line-height: 1.5em; overflow: hidden; opacity: 0;  transition: 0.8s ease;
	transform:translate(-50%,0);
	text-align:center;}


#header .nav >li ul{width: 100%;position:relative; margin: 0 25px; }
#header .nav > .fri_li ul{left: 25%;}
#header .nav > .sec_li ul{left: 27%;}
#header .nav > .thi_li ul{left: 29%;}
#header .nav > .fou_li ul{left: 29%;}
#header .nav > .fif_li ul{left: 29%;}


@media screen and (max-width: 1250px){
	#header .inner{display: block;}
	#header .logo{margin:0 auto;height: 100px;}
	#header .nav{position: relative;font-size: 0.8rem;margin:0 auto}
	#header .nav >li ul{margin:0 15px}
	#header .nav .small_ul> li{font-size: 0.7rem;width: 100%;}
	}


#section01{margin-bottom:80px}
#section01 > div{position: relative;display: flex;justify-content: space-between;}
#section01 > div p:nth-child(1){width:800px;position: relative;padding-top:60px}
#section01 > div p:nth-child(1) img{width: 100%;}
#section01 > div p:nth-child(2){width:850px;}
#section01 > div p:nth-child(2) img{width: 100%;}
#section01 > div p:nth-child(3){position: absolute;right:40%;top:-25%;width: 700px;z-index: 99;}
#section01 > div p:nth-child(3) img{width: 100%;}
#section01 > div p:nth-child(4){font-size: 6.8rem;color:#FD8203;font-weight:900;
    position: absolute;right:40%;top:5%;}


	@media screen and (max-width: 1250px) and (min-width: 750px){
	#section01 > div p:nth-child(2){margin-top:50px}
	#section01 > div p:nth-child(3){max-width:400px;margin-top:80px}
	#section01 > div p:nth-child(4){font-size: 4.5rem;top:25%}



	}
	@media screen and (max-width: 750px){
		#section01 > div p:nth-child(2){margin-top:50px}
		#section01 > div p:nth-child(3){width:280px;margin-top:0px;}
		#section01 > div p:nth-child(4){font-size: 2.7rem;top:18%}

	}



#section02{text-align: center;position: relative;height: 700px; margin-bottom:170px}
#section02  h2{color : #FD8203;font-size: 3rem;margin-bottom:10px;padding-top:150px}
#section02  h3{font-size: 5rem;}
#section02   p:nth-child(3){margin-bottom: 20px;}
#section02   p:nth-child(4){font-size:1.2rem;}
#section02   p:nth-child(4) span{font-weight: 700;}
#section02   p:nth-child(5){position:absolute;right:2%;top:0;max-width: 300px;}
#section02   p:nth-child(5) img{width:100%;}
/*
@keyframes one{
0%{opacity: 0;padding-top:150px}
100% {opacity: 1; padding-top:0}}*/
#section02   p:nth-child(6){position:relative;left:2%;max-width: 300px;
	margin-top:-200px;}
#section02   p:nth-child(6) img{width:100%;}


@media screen and (max-width: 1250px) and (min-width: 750px){
	#section02{height: 550px;margin-top:200px}
	#section02   p:nth-child(5){position:absolute;right:2%;top:0;max-width: 150px;}
	#section02   p:nth-child(6){position:relative;left:1%;max-width: 150px;margin-top:-100px;}
	}
	@media screen and (max-width: 750px){
		#section02{height: auto;;margin-bottom:0px;margin-top:50px}
	#section02  h2{color : #FD8203;font-size: 1.7rem;margin-bottom:10px;padding-top:150px}
#section02  h3{font-size: 1.5rem;}
#section02   p:nth-child(3){margin-bottom: 20px;font-size: 0.8rem;}
#section02   p:nth-child(4){font-size:0.9rem;}
#section02   p:nth-child(4) span{font-weight: 700;}
#section02   p:nth-child(5){position:absolute;right:2%;top:-20px;max-width: 150px;}
#section02   p:nth-child(6){position:relative;left:1%;max-width: 150px;margin-top:0px;}

	}


#section03{margin-bottom: 200px;text-align: center;}
#section03 h2{color : #FD8203;font-size: 3rem;margin-bottom:25px;}
#section03 h3{font-size:1.2rem;}
#section03 .image_mov{position: relative; margin-top:100px; height:375px;margin-bottom: 80px;}
#section03 .image_mov .back{position: absolute; bottom: 0; left: 0; right: 0; height: 214px; background: white;}
#section03 .image_mov .menu{ position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 2;
	background: transparent url("../image/log.png") repeat-x left top; background-size: auto 375px;;
	animation: movement 20s linear infinite;
}
@media all and (max-width: 750px){
	#scrtion3{padding-top: 160px;}
	#section03 .image_mov{margin-top: 38.400vw; height: 255px;}
	#section03 .image_mov .back{height: 130px;}
	#section03 .image_mov .menu{background-size: auto 255px;}
	@keyframes movement{
		0% {
			background-position:0px 0px;
		}
		100%{
			background-position: 2426px 0px;
		}
	}
	@keyframes movement {
		0% {
			background-position:0px 0px;
		}
		100%{
			background-position: 2426px 0px;
		}
	}
}
@media all and (min-width: 751px){
	@keyframes movement{
		0% {
			background-position:0px 0px;
		}
		100%{
			background-position: 3567px 0px;
		}
	}
	@keyframes movement {
		0% {
			background-position:0px 0px;
		}
		100%{
			background-position: 3567px 0px;
		}
    }
}






#section03 p:last-child{border: 2px solid #444444;width: 130px; padding:10px 25px;text-align: left;
    position: relative;left:45%;transition: 0.5s ease;}
#section03 p:last-child:hover{border: 2px solid #F9B02B; border-radius:15px;}
#section03 p:last-child a img{width: 20%;margin-left:35px;}
#section03 p:last-child a{width: 100%;}


	@media screen and (max-width: 750px){
#section03{margin-bottom: 20px;}
#section03  h2{color : #FD8203;font-size: 1.7rem;margin-bottom:10px;padding-top:70px}
#section03  h3{font-size: 1rem;margin:0 auto}
#section03 .image_mov{margin-top:30px}
#section03 p:last-child{position: relative;left:30%}

	}



#section04{text-align: center;margin-bottom: 200px;}
#section04 h2{color : #FD8203;font-size: 3rem;margin-bottom:25px;}
#section04 h3{font-size:1.2rem;margin-bottom: 50px;}
#section04 p:nth-child(3){border: 2px solid #444444;width: 130px; padding:10px 25px;text-align: left;
position: relative;left:45%;margin-bottom:80px;transition: 0.5s ease;}
#section04 p:nth-child(3):hover{border: 2px solid #F9B02B; border-radius:15px;}
#section04 p:nth-child(3) a img{width: 20%;margin-left:50px;}
#section04  p:nth-child(3) a{width:100%;}
#section04 .sec03_img{max-width:1000px;height: 700px; margin: 0 auto;}
#section04 .sec03_img img{width: 100%;}


@media screen and (max-width: 750px){
	#section04 .sec03_img{height: 400px;}
	#section04{margin-bottom:0px}
	#section04  h2{color : #FD8203;font-size: 1.7rem;margin-bottom:10px;padding-top:70px}
	#section04  h3{font-size: 1rem;margin:0 auto 50px auto}
	#section04 p:nth-child(3){margin:0 auto 50px auto;position: relative;left:-3%}
	
		}

#section05{text-align: center;background: url(../image/bule_bar.png) no-repeat; color: #fff;background-size: cover;margin-bottom: 100px; }
#section05 > div{padding-bottom: 50px;}
#section05 h2{color:#fff;font-size: 3rem;margin-bottom:30px;padding-top:80px}
#section05 p:nth-child(2){font-size: 1.3rem;margin-bottom:30px}
#section05 p:nth-child(3){border: 2px solid #fff;width:230px; padding:10px 25px;text-align: left;
    position: relative;left:43%; transition: 0.5s ease;}
#section05 p:nth-child(3):hover{border: 2px solid #F9B02B; border-radius:15px;background:#F9B02B}
#section05 p:nth-child(3) a img{width: 20%;margin-left:50px;}
#section05  p:nth-child(3) a{width: 100%;}


@media screen and (max-width: 750px){
	#section05{background-size: cover;background: url(../image/bule_bar01.png)}
	#section05 h2{font-size: 1.7rem;padding-top:45px}
	#section05 p:nth-child(2){font-size: 1rem;}
	#section05 p:nth-child(3){left: 25%;}
	
		}


#footer{margin-bottom: 200px;position: relative;}
#footer .frist  > ul li:nth-child(1){font-weight: 700;font-size: 1.1rem;}
#footer .frist {display: flex;justify-content: right;border-bottom:2px solid #999;padding-bottom: 50px;position: relative;top:-70px;}
#footer  > p{max-width:250px;left:6%;position: relative;}
#footer  > p img{width: 100%;}
#footer .frist > ul{width:200px;line-height: 2rem;margin-right:80px;}
#footer .frist >  ul li{font-size: 0.8rem;}


#footer .foot_bottom{position: relative;margin: 0;}
#footer .foot_bottom .foot_text{position:absolute;font-size: 0.7rem;line-height:25px;right:15%;top:-20px;margin:0}
#footer .foot_bottom .selcet{position: relative;left:5%;margin:0;width: 200px;}
#footer .frist  > ul> li:hover{text-decoration: underline;}
#footer .foot_bottom .selcet div:nth-child(1) p{width: 200px;font-weight: 700;
	border-top: 2px solid #333;padding:10px 0;position:relative;transition: all ease;top:-30px;z-index: 1;}
#footer .foot_bottom .small_sel{position: absolute;top:0px;height:0px;overflow: hidden;transition: all 1s ease;z-index: 999;width: 150px;opacity: 0;}
#footer .foot_bottom .selcet  div:nth-child(1):hover ul{display: block;top:-216px;transition: all 1s ease;background:#fff;opacity: 1;;height:auto;}
#footer .foot_bottom .selcet  div:nth-child(1) ul li:hover{color:#F9B02B;transition: all 0.3s ease}
#footer .foot_bottom .selcet  div:nth-child(1) ul li{font-weight: 600; font-size: 0.8rem;padding:5px 0;}
	/*
#footer .selcet{
#footer .foot_bottom .selcet div:nth-child(1){
    line-height: 1.5em; overflow: hidden; transition: all 1s ease;
	width: 100%;position: absolute;top:50px;opacity: 0;}

#footer .foot_bottom .selcet li{z-index: 1;}
#footer .foot_bottom .selcet li ul{z-index: 999999;}
#footer .foot_bottom .selcet  ul li:hover{color:#F9B02B;}*/



	@media screen and (max-width: 1250px) and (min-width:750px){
	footer .frist > ul li:nth-child(1){font-size: 0.7rem;}
	#footer p:nth-child(1){margin:0 auto}
	#footer .frist{top:30px;margin:0; padding-right: 60px;}
	#footer .foot_bottom{margin-top:120px}
	#footer .frist > ul li:nth-child(1):hover{text-decoration: none;}
	#footer .frist > ul{margin-right: 20px;}
	#footer .foot_bottom .foot_text{top:50px;left:5%}

	}

	@media screen and (max-width:749px){
		#footer .frist > ul{width: 170px;}
		#footer .frist > ul li:nth-child(1){font-size: 0.8rem;}
		#footer .frist > ul li{font-size: 0.65rem;}
		footer .selcet{top:-20px}
		#footer p:nth-child(1){margin:0 auto}
		#footer .frist{top:30px;margin:0;}
		#footer .foot_bottom{margin-top:120px}
		#footer .frist > ul li:nth-child(1):hover{text-decoration: none;}
		#footer .frist > ul{margin-right:0px;}
		#footer .foot_bottom .foot_text{top:20px;left:5%}
	
		}



.top{position:fixed;right:50px;bottom:50px;z-index:9999;
    width:60px;height:55px;background:#fff;border: 1px solid rgb(167, 167, 167); transition: all ease;}
    .top img{width: 20px;height: 20px;transform:rotate(-90deg);margin-top:-10px}


    @media screen and (max-width:749px){
		.top{right: 10px;}
	  
		  }